@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #187CBC;
    background-color: #DDD;
}

h1 {
    text-align: center;
}
.content {
    margin: 0 auto;
    margin-top: 10%;
    width: 500px;
    background-color: #FFF;
    padding: 50px;
    border-radius: 10px;
    border: solid 1px #DDD;
    word-wrap: anywhere;
    box-shadow: 0 0 1em #AAA;
}

th{
    color: #1D3F51;
    font-weight: bold;
}
table, td, th {
    border: 1px solid #EEE;
    padding: 10px;
    width: 200px;
    
}

td{
    color: #000;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}

a{
    text-decoration: none;
    color: #111;
    font-weight: bold;
}

a:hover{
    color: #888;
}

.delete {
    color: rgb(177, 0, 0);
    font-weight: bold;
}

.delete:hover {
    
    color: red;
}

input{
    margin-top: 20px;
}
input[type=text] {

    height: 50px;
    border: 1px solid #CCC;
    border-radius: 4px;
    
}

input[type=submit] {

    height: 55px;
    margin-left: 0px;
    border: 2px solid #FFF;
    background-color: #187CBC;
    color: #FFF;
    font-weight: bold;
    border-radius: 4px;
    width: 139px;
    
}

input[type=submit]:hover {
    border: 2px solid #187CBC;
    background-color: #FFF;
    color: #187CBC;
    cursor: pointer;

}