{% extends 'base.html' %}

{% block head %}
<title>Tasks Masters</title>
{% endblock %}

{% block body %} 
<div class = "content">
    <h1>Gerenciador de Tarefas</h1>

    <table>

        <tr>
            <th>Tarefa</th>
            <th>Adicionado em</th>
            <th>Ações</th>
        </tr>
        
        {% for task in tasks %}
            <tr>
                <td><p>{{ task.content }}</p></td>
                <td>{{ task.date_created.date() }}</td>
                <td>
                    <a href="/delete/{{task.id}}" class="delete">Excluir</a>
                    <br>
                    <a href="/update/{{task.id}}">Atualizar</a>
                </td>
            </tr>
        {% endfor %}

    </table>

    <form action="/" method="POST">
        <input type="text" placeholder="  Descreva aqui a sua tarefa" name="content" id="content">
        <input type="submit" value="Adicionar Tarefa">
    </form>
</div>
{% endblock %}